/* Tooltip container */
.feature-item {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 60%;
    background-color: rgba(235, 153, 0, 0.9);
    color: #000;
    text-align: center;
    border: 3px solid rgb(87, 86, 86);
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    z-index: 1;
    top: 30%;
    /* Position the tooltip 20% from the top of the screen */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when the feature item is clicked */
.feature-item.active .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Close button inside the tooltip */
.close-tooltip {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #FF5733;
    /* Same color as the home button */
}

/* Change icon color on hover */
.feature-item:hover i {
    color: #9043b4;
}